.headerLeft {
    color: var(--unnamed-color-041f41);
    text-align: left;
    font: normal normal normal 40px/48px Bogle;
    letter-spacing: -1.2px;
    color: #041F41;
    opacity: 1;
    top: 40px;
    left: 139px;
    width: 111px;
    height: 56px;
}

.headerRight{
    float: right;
    margin-right: 10px;
    margin-top: 18px;
}

.mainMediaTitleWrapper {
    margin-bottom: 20px;
    padding-left: 17px;
}

.mainMediaTitle {
    text-align: left;
    font: normal normal normal 24px/30px Bogle;
    letter-spacing: -0.72px;
    color: #041F41;
    opacity: 1;
    max-width: 300px;
}

.videoInfo {
    width: 200px;
    margin-left: 17px;
    margin-top: 20px;
}

.subMediaTitle {
    text-align: left;
    font: normal normal normal 18px/24px Bogle;
    letter-spacing: -0.54px;
    color: #041F41;
    opacity: 1;
    max-width: 200px;
}

.headerWrapper{
    widows: 100%;
}